<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Incuna-transitions : arrow-left">

        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css">

        <title>Incuna-transitions</title>
    </head>

    <body class="incuna-transitions-page">

        <div class="inline-svg-map">
            <%= svgstore('images/svg-defs.svg') %>
        </div>

        <!-- HEADER -->
        <div class="outer header-wrap">
            <header class="inner">
                <a class="forkme-banner" href="https://github.com/incuna/incuna-transitions">View on GitHub</a>

                <h1 class="project-title">Incuna-transitions</h1>
                <h2 class="project-tagline">Incuna's transitions and animations library. A combination of sass mixins sourced from @IanLunn's <a href="http://ianlunn.github.io/Hover/">Hover.css</a> and page transitions from Incuna.</h2>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div class="main-content-wrap outer">
            <section class="main-content inner">

                <div class="example-section">
                    <h3>Examples</h3>

                    <p class="intro">This page was created with the intention of providing the Incuna design team with a way to visualise the sort of transitions and animations we can add to our sites. All of these effects are capable of being customised and fine tuned to fit the specific needs of each design.</p>

                    <p class="intro">We can customise animation properties like duration, timing function, and amount of movement. To learn more about the animation properties that we can affect with css have a look at <a href="https://robots.thoughtbot.com/css-animation-for-beginners#additional-animation-properties" target="_blank">this guide</a>. Below are a few simple examples.</p>

                    <h5>Duration:</h5>
                        <button class="duration-example slow">slow</button>
                        <button class="duration-example medium">medium</button>
                        <button class="duration-example fast">fast</button>

                    <h5>Timing function:</h5>
                        <button class="timing-example ease">ease</button>
                        <button class="timing-example ease-in">ease-in</button>
                        <button class="timing-example ease-out">ease-out</button>
                        <button class="timing-example linear">linear</button>

                    <h5>Movement:</h5>
                        <button class="movement-example small">small</button>
                        <button class="movement-example medium">medium</button>
                        <button class="movement-example large">large</button>

                    <p class="intro">We can also apply the transitions to a variety of elements (not just buttons).</p>

                    <a href="/" class="link-example underline">This is a link with Underline</a>
                    <a href="/" class="link-example float">This is a link with Float</a>
                    <a href="/" class="link-example pulse">This is a link with Pulse</a>

                    <p class="text-example">This is a paragraph of text with the pulse-shrink animation. <strong>Please do not actually put this transition on paragraphs of text</strong>. We are just doing it here for demonstration purposes, to show that we can. But I think we can agree that it is not a very user friendly or meaningful animation.</p>

                    <p class="intro">You can, of course, also use whatever colors, fonts, sizes, padding, etc. that you want.</p>

                    <p class="note">Note to devs: this library is still very much a work in progress so in order to achieve some of these results you may need to customise the mixin to be a bit more flexible first.</p>
                </div>

                <h3>Hover transitions</h3>
                <p class="intro">These transitions can be applied to buttons, links, nav items and other interactive page elements. They all work on mouse over.</p>

                <!-- 2D TRANSITIONS -->
                <div class="button-section 2d-transitions">
                    <h4>2D Transitions</h4>

                    <button class="example-button bob">bob</button>
                    <button class="example-button bounce-in">bounce-in</button>
                    <button class="example-button bounce-out">bounce-out</button>
                    <button class="example-button buzz-out">buzz-out</button>
                    <button class="example-button buzz">buzz</button>
                    <button class="example-button float-up">float-up</button>
                    <button class="example-button float-down">float-down</button>
                    <button class="example-button grow-rotate">grow-rotate</button>
                    <button class="example-button grow">grow</button>
                    <button class="example-button hang">hang</button>
                    <button class="example-button pop">pop</button>
                    <button class="example-button pulse-grow">pulse-grow</button>
                    <button class="example-button pulse-shrink">pulse-shrink</button>
                    <button class="example-button pulse">pulse</button>
                    <button class="example-button push">push</button>
                    <button class="example-button rotate">rotate</button>
                    <button class="example-button shrink">shrink</button>
                    <button class="example-button skew-backward">skew-backward</button>
                    <button class="example-button skew-forward">skew-forward</button>
                    <button class="example-button skew">skew</button>
                    <button class="example-button wobble-fixed-top">wobble-fixed-top</button>
                    <button class="example-button wobble-fixed-bottom">wobble-fixed-bottom</button>
                    <button class="example-button wobble-move-horizontal">wobble-move-horizontal</button>
                    <button class="example-button wobble-move-vertical">wobble-move-vertical</button>
                    <button class="example-button wobble-move-diagonal-up">wobble-move-diagonal-up</button>
                    <button class="example-button wobble-move-diagonal-down">wobble-move-diagonal-down</button>
                </div>

                <!-- BACKGROUND TRANSITIONS -->
                <div class="button-section background-transitions">
                    <h4>Background Transitions</h4>

                    <button class="example-button back-pulse">back-pulse</button>
                    <button class="example-button bounce-to-top">bounce-to-top</button>
                    <button class="example-button bounce-to-right">bounce-to-right</button>
                    <button class="example-button bounce-to-bottom">bounce-to-bottom</button>
                    <button class="example-button bounce-to-left">bounce-to-left</button>
                    <button class="example-button fade">fade</button>
                    <button class="example-button radial-in">radial-in</button>
                    <button class="example-button radial-out">radial-out</button>
                    <button class="example-button rectangle-in">rectangle-in</button>
                    <button class="example-button rectangle-out">rectangle-out</button>
                    <button class="example-button shutter-in-horizontal">shutter-in-horizontal</button>
                    <button class="example-button shutter-in-vertical">shutter-in-vertical</button>
                    <button class="example-button shutter-out-horizontal">shutter-out-horizontal</button>
                    <button class="example-button shutter-out-vertical">shutter-out-vertical</button>
                    <button class="example-button sweep-top">sweep-top</button>
                    <button class="example-button sweep-right">sweep-right</button>
                    <button class="example-button sweep-bottom">sweep-bottom</button>
                    <button class="example-button sweep-left">sweep-left</button>
                </div>

                <!-- BORDER TRANSITIONS -->
                <div class="button-section border-transitions">
                    <h4>Border Transitions</h4>

                    <button class="example-button border-fade">border-fade</button>
                    <button class="example-button hollow">hollow</button>
                    <button class="example-button outline-in">outline-in</button>
                    <button class="example-button outline-out">outline-out</button>
                    <button class="example-button overline-from-center">overline-from-center</button>
                    <button class="example-button overline-from-left">overline-from-left</button>
                    <button class="example-button overline-from-right">overline-from-right</button>
                    <button class="example-button overline-reveal">overline-reveal</button>
                    <button class="example-button reveal">reveal</button>
                    <button class="example-button ripple-in">ripple-in</button>
                    <button class="example-button ripple-out">ripple-out</button>
                    <button class="example-button round-corners">round-corners</button>
                    <button class="example-button trim">trim</button>
                    <button class="example-button underline-reveal">underline-reveal</button>
                    <button class="example-button underline-from-center">underline-from-center</button>
                    <button class="example-button underline-from-left">underline-from-left</button>
                    <button class="example-button underline-from-right">underline-from-right</button>
                </div>

                <!-- ICON TRANSITIONS -->
                <div class="button-section icon-transitions">
                    <h4>Icon Transitions</h4>

                    <button class="example-button icon-back">
                        <span>icon-back</span>
                        <svg class="inline-svg arrow-left">
                            <use xlink:href="#svg-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-bob">
                        <span>icon-bob</span>
                        <svg class="inline-svg download">
                            <use xlink:href="#svg-download"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-bounce-out">
                        <span>icon-bounce-out</span>
                        <svg class="inline-svg circle-right">
                            <use xlink:href="#svg-circle-right"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-bounce">
                        <span>icon-bounce</span>
                        <svg class="inline-svg headphones">
                            <use xlink:href="#svg-headphones"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-buzz-out">
                        <span>icon-buzz-out</span>
                        <svg class="inline-svg alarm">
                            <use xlink:href="#svg-alarm"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-buzz">
                        <span>icon-buzz</span>
                        <svg class="inline-svg alarm">
                            <use xlink:href="#svg-alarm"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-down">
                        <span>icon-down</span>
                        <svg class="inline-svg download">
                            <use xlink:href="#svg-download"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-drop">
                        <span>icon-drop</span>
                        <svg class="inline-svg download">
                            <use xlink:href="#svg-download"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-fade">
                        <span>icon-fade</span>
                        <svg class="inline-svg arrow-left">
                            <use xlink:href="#svg-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-float-away">
                        <span>icon-float-away</span>
                        <svg class="inline-svg upload">
                            <use xlink:href="#svg-upload"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-float">
                        <span>icon-float</span>
                        <svg class="inline-svg upload">
                            <use xlink:href="#svg-upload"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-forward">
                        <span>icon-forward</span>
                        <svg class="inline-svg arrow-right">
                            <use xlink:href="#svg-arrow-right"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-grow-rotate">
                        <span>icon-grow-rotate</span>
                        <svg class="inline-svg circle-left">
                            <use xlink:href="#svg-circle-left"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-grow">
                        <span>icon-grow</span>
                        <svg class="inline-svg circle-right">
                            <use xlink:href="#svg-circle-right"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-hang">
                        <span>icon-hang</span>
                        <svg class="inline-svg download">
                            <use xlink:href="#svg-download"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-pop">
                        <span>icon-pop</span>
                        <svg class="inline-svg printer">
                            <use xlink:href="#svg-printer"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-pulse-grow">
                        <span>icon-pulse-grow</span>
                        <svg class="inline-svg home">
                            <use xlink:href="#svg-home"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-pulse-shrink">
                        <span>icon-pulse-shrink</span>
                        <svg class="inline-svg home">
                            <use xlink:href="#svg-home"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-pulse">
                        <span>icon-pulse</span>
                        <svg class="inline-svg home">
                            <use xlink:href="#svg-home"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-push">
                        <span>icon-push</span>
                        <svg class="inline-svg circle-right">
                            <use xlink:href="#svg-circle-right"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-rotate">
                        <span>icon-rotate</span>
                        <svg class="inline-svg loop">
                            <use xlink:href="#svg-loop"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-shrink">
                        <span>icon-shrink</span>
                        <svg class="inline-svg pencil">
                            <use xlink:href="#svg-pencil"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-sink-away">
                        <span>icon-sink-away</span>
                        <svg class="inline-svg arrow-left">
                            <use xlink:href="#svg-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-sink">
                        <span>icon-sink</span>
                        <svg class="inline-svg download">
                            <use xlink:href="#svg-download"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-spin">
                        <span>icon-spin</span>
                        <svg class="inline-svg loop">
                            <use xlink:href="#svg-loop"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-up">
                        <span>icon-up</span>
                        <svg class="inline-svg circle-up">
                            <use xlink:href="#svg-circle-up"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-wobble-horizontal">
                        <span>icon-wobble-horizontal</span>
                        <svg class="inline-svg circle-right">
                            <use xlink:href="#svg-circle-right"></use>
                        </svg>
                    </button>
                    <button class="example-button icon-wobble-vertical">
                        <span>icon-wobble-vertical</span>
                        <svg class="inline-svg circle-down">
                            <use xlink:href="#svg-circle-down"></use>
                        </svg>
                    </button>
                </div>

                <!-- SHADOW GLOW TRANSITIONS -->
                <div class="button-section shadow-glow-transitions">
                    <h4>Shadow and Glow Transitions</h4>

                    <button class="example-button box-shadow-inset">box-shadow-inset</button>
                    <button class="example-button box-shadow-outset">box-shadow-outset</button>
                    <button class="example-button float-shadow">float-shadow</button>
                    <button class="example-button glow">glow</button>
                    <button class="example-button grow-shadow">grow-shadow</button>
                    <button class="example-button shadow-radial">shadow-radial</button>
                    <button class="example-button shadow">shadow</button>
                </div>

                <!-- SPEECH BUBBLES -->
                <div class="button-section speech-bubbles">
                    <h4>Speech Bubbles</h4>

                    <button class="example-button bubble-bottom">bubble-bottom</button>
                    <button class="example-button bubble-float-bottom">bubble-float-bottom</button>
                    <button class="example-button bubble-float-left">bubble-float-left</button>
                    <button class="example-button bubble-float-right">bubble-float-right</button>
                    <button class="example-button bubble-float-top">bubble-float-top</button>
                    <button class="example-button bubble-left">bubble-left</button>
                    <button class="example-button bubble-right">bubble-right</button>
                    <button class="example-button bubble-top">bubble-top</button>

                </div>

                <h3>Still to come</h3>

                <p class="intro">We will be updating this page to show how some of these animations can be used on button icons rather than the buttons themselves (we just need to fix those mixins first). We will also be adding some demonstrations for some of our page transitions, for example for expanding and collapsing content.</p>

            </section>
        </div>

        <!-- FOOTER  -->
        <div class="footer-wrap outer">
            <footer class="inner">
                <p class="copyright">Incuna-transitions maintained by <a href="https://github.com/incuna">Incuna Ltd.</a></p>
                <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>

    </body>
</html>
