// This mixin requires that 2 identical icons to be present in the html

// Icon Sink Away
@include keyframes(#{$nameSpace}-icon-sink-away)
    0%
        opacity: 1
    100%
        @include prefixed(transform, translateY(1em))
        opacity: 0

// Icon Sink Away
@mixin icon-sink-away($icon-size: 20px, $position: right, $spacing-inner: 10px, $spacing-outer: 15px)
    @include hacks()
    @include icon-setup($icon-size, $position, $spacing-inner, $spacing-outer)

    .inline-svg
        &:first-of-type
            @include prefixed(transform, translateZ(0))
            padding: 0 1px

        &:nth-of-type(2)
            @include prefixed(animation-duration, #{$slowDuration})
            @include prefixed(animation-fill-mode, forwards)
            opacity: 0

    #{$hover-states}
        .inline-svg
            &:nth-of-type(2)
                @include prefixed(animation-name, #{$nameSpace}-icon-sink-away)
                @include prefixed(animation-timing-function, ease-out)
